{% include "onboarding_button_finish_entry.yaml.j2" %}
{% if chip_family != "esp8266" %}
  - platform: template
    id: check_update_button
    name: "{{ name_btn_check_upd }}"
    icon: "mdi:update"
    entity_category: config
    on_press:
      - script.execute: check_firmware_update

  - platform: template
    id: install_update_button
    name: "{{ name_btn_install }}"
    icon: "mdi:download"
    entity_category: config
    on_press:
      - update.perform:
          id: firmware_update
{% endif %}

  - platform: factory_reset
    id: factory_reset_button
    name: "{{ name_btn_factory }}"
    icon: "mdi:restore-alert"
    entity_category: config
