esphome:
  name: "{{ device_name }}"
  friendly_name: "{{ friendly_name }}"
  project:
    name: "{{ github_owner }}.espHome-SmartStation"
    version: "{{ firmware_version }}"
  on_boot:
    priority: -100
    then:
{% include "on_boot_ota_publish.yaml.j2" %}

esp32:
  board: {{ board | default("esp32-c3-devkitm-1") }}
  variant: esp32c3
  framework:
    type: esp-idf
    sdkconfig_options:
      CONFIG_MBEDTLS_DYNAMIC_BUFFER: "y"

{% include "runtime_network_ota.yaml.j2" %}
